<div>
    <button class="btn btn-primary" (click)="img='https://images.pexels.com/photos/25189483/pexels-photo-25189483/free-photo-of-flores-petalos-orquideas-tiro-vertical.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'">
        Imagen 1
    </button>
    
    <button class="btn btn-danger" (click)="img='https://images.pexels.com/photos/25686154/pexels-photo-25686154/free-photo-of-persona-cafe-mano-agua.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'">
        Imagen 2
    </button>
</div>

<img [src]="img" alt="">